body {
    background-color: #e4e4e4;
}

.customContainer {
    border-radius: 0.5em;
    padding: 20px;
    margin-top: 20px;
    width: 97%;
    background-color: #ffffff;
}

.formBtn {
    margin-right: 0.5em;
}

.contactTitle {
    margin-bottom: 20px;
    color: #0d6efd;
}

.contactCard {
    line-height: 10px;
}