body {
    background-color: #a8cdff;
}

.customContainer {
    border-radius: 0.5em;
    padding: 20px;
    margin-top: 20px;
    width: 97%;
    background-color: #ffffff;
}

.formBtn {
    margin-right: 0.5em;
}